<!DOCTYPE html>
<html>
<head>
    <title>Xtreme Sporting Jenkins</title>
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Sporting Goods" />
    <meta property="og:description"   content="Great Deals" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!--<link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel='stylesheet' href='/stylesheets/footer.css'/>-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" type="image/png" href="/images/NEW-LOGO.png"/>
</head>
<body>
{{> header }}
<script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<div class="container">
    {{{body}}}
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
&lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<div class="site-footer-inner container"> <div class="row footer-engage">
    <div class="footer-story col-md-3 hidden-sm hidden-xs">
        <a class="link_stag-explore" href="/about-rei.html">
            <h2 class="header-explore">Who we are</h2> </a>
        <p class="footer-rei-story-text">We believe that a life outdoors is a life well lived. We've been sharing our passion for the outdoors since 1938.<a class="link-overlay" href="/about-rei.html">Read our story</a> </p> </div>
    <div class="footer-signup-cc col-md-9 col-xs-12"> <div class="row"> <div class="footer-member col-md-4 col-xs-12 col-sm-6">
        <a class="link_stag-explore center-xs" href="/membership/join " data-ui="footer-become-a-member" data-analytics-id="footer_become a member">
            <h2 class="header-explore text-xs-center text-sm-left">Become a member</h2>
        </a> <p class="footer-rei-story-text">Join the Co-op community to get an annual dividend, access exclusives and give back. Lifetime membership is just $20. <a class="link-overlay" href="/membership/join" data-analytics-id="footer-become-a-member">Learn more and join us</a></p> </div>
        <div class="col-md-4 col-xs-12 col-sm-6"> <a class="link_stag-explore center-xs" href="/h/adventure-projects" data-ui="footer-gearmail-link" data-analytics-id="footer_adventure projects"> <h2 class="header-explore text-xs-center text-sm-left">Apply For Co-op Mastercard<sup>®</sup></h2> </a>
            <p class="footer-rei-story-text"></p> <div class="footer-story"> <ul class="list-unstyled"> <li> <p class="footer-rei-story-text">Earn a $100 Gift Card when you apply, get approved and make any purchase within 60 days of card approval.<a class="link-overlay" href="http://www.reimastercard.com/credit/offer.do?redirect=38688&amp;lang=en" data-analytics-id="footer_rei mastercard_see details">Details</a></p> </li>
                <li> <p class="footer-rei-story-text">Have it?<a class="link-overlay" href="http://www.reimastercard.com/myaccount" data-analytics-id="footer_rei mastercard_manage your rei mastercard">Manage your card</a></p> </li> </ul> </div> </div> </div> </div> </div>

    <div class="row footer-contact"> <div class="footer-contact-phone col-md-3 col-sm-4 col-xs-12">
        <span class="icon icon-rei-call hidden-xs" aria-hidden="true"></span>
        <div class="icon-push"> <a href="tel:1-800-426-4840" id="footerPhoneNumberLink" ><h2 class="text-xs-center text-sm-left"> <span class="glyphicon glyphicon-earphone"aria-hidden="true"></span></span><span class="sr-only">Contact us at</span>1-800-426-4840</h2> </a>
            <p class="footer-rei-story-text"> Mon–Fri, 5am–10pm PT <br> Sat–Sun, 6am–9pm PT </p> </div> </div>
        <div class="footer-contact-email col-md-3 hidden-sm hidden-xs"> <span class="icon icon-rei-email" aria-hidden="true"></span> <div class="icon-push"> <a href="//rei.custhelp.com/app/contact_us#tabs-3" target="_blank" rel="noopener" data-analytics-id="footer_contact_email us" data-ui="footer-email-link"> <h2><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email Us</h2> </a> <p class="footer-rei-story-text"> We will respond as quickly as we can. </p> </div> </div>
        <div class="footer-contact-chat no-gutter col-md-3 col-sm-4 hidden-xs"> <span class="icon icon-rei-chat" aria-hidden="true"></span> <div class="icon-push"> <a href="//rei.custhelp.com/app/contact_us#tabs-2" target="_blank" rel="noopener" data-ui="footer-live-chat-link" data-analytics-id="footer_contact_live chat"> <h2>Live Chat</h2> </a> <p class="footer-rei-story-text"> Mon–Fri, 5am–10pm PT <br> Sat–Sun, 6am–9pm PT </p> </div> </div>
        <div class="footer-contact-help col-md-3 col-sm-4 hidden-xs"> <span class="icon icon-rei-help" aria-hidden="true"></span> <div class="icon-push"> <a href="/help.html" data-ui="footer-help-center-link" data-analytics-id="footer_conatct_help center"> <h2>Help Center</h2> </a> <p class="footer-rei-story-text"> Find answers online anytime. </p> </div> </div> </div> <script type="application/json" data-client-store="generalemail">
        {
            "contactEmail": "//rei.custhelp.com/app/contact_us#tabs-3"
        }
    </script> <script type="application/json" data-client-store="generalchat">
        {
            "contactChat": "//rei.custhelp.com/app/contact_us#tabs-2"
        }
    </script> <script type="application/json" data-client-store="generalphone">
        {
            "contactPhone": "//rei.custhelp.com/app/contact_us"
        }
    </script> <div class=""> <div class="col-xs-12"> <button type="button" data-toggle="modal" data-url="/popups/rei-difference" data-target="#global-modal" class="container-fluid btn btn-link hotspot drsm-modal cms" data-ui="footer-rei-difference-banner" data-lin aria-label="The Difference: one hundred percent satisfaction guaranteed. The right gear and best advice. Ten percent annual member refund. Opens dialogue">
    </button> </div> </div> <div id="global-modal" class="modal fade well-modal-lg" tabindex="-1" role="dialog" aria-labelledby="dialogLabelOne" aria-hidden="true" data-ui="rei-difference-modal-content"> <span class="sr-only">Begin dialog</span> <div class="modal-dialog modal-lg"> <div class="modal-content"> <div class="modal-header"> <div class="close icon icon-rei-close" aria-label="Close"></div> <h3 id="dialogLabelOne" class="modal-title h6">&nbsp;</h3> </div> <div class="modal-body"> <div class="modal-body-content"> </div> </div> </div> </div> <span class="sr-only">End dialog</span> </div> <div class="row footer-apps-social-legal"> <div class="footer-social-apps col-xs-12"> <div class="row center"> <div class="footer-apps col-xs-12 col-sm-6"> <div class="center-xs"> <span class="icon icon-rei-devices" aria-hidden="true"></span> <ul class="icon-push"></ul> </div> </div> <div class="footer-social col-xs-12 col-sm-6"> <div class="center-xs"> <a href="https://twitter.com/rei/" target="_blank" rel="noopener" data-analytics-id="footer_social_twitter"> <span class="icon icon-rei-social-twitter" data-ui="footer-twitter-icon"></span> <span class="sr-only">twitter</span> </a> <a href="https://www.facebook.com/REI/" target="_blank" rel="noopener" data-analytics-id="footer_social_facebook"> <span class="icon icon-rei-social-facebook" data-ui="footer-facebook-icon"></span> <span class="sr-only">facebook</span> </a> <a href="https://www.pinterest.com/reicoop/" target="_blank" rel="noopener" data-analytics-id="footer_social_pinterest"> <span class="icon icon-rei-social-pinterest" data-ui="footer-pinterest-icon"></span> <span class="sr-only">pinterest</span> </a> <a href="https://www.youtube.com/user/reifindout/" target="_blank" rel="noopener" data-analytics-id="footer_social_youtube"> <span class="icon icon-rei-social-youtube" data-ui="footer-youtube-icon"></span> <span class="sr-only">youtube</span> </a> <a href="https://www.instagram.com/rei/" target="_blank" rel="noopener" data-analytics-id="footer_social_instagram"> <span class="icon icon-rei-social-instagram" data-ui="footer-instagram-icon"></span> <span class="sr-only">instagram</span> </a> </div> </div> </div> </div> <div class="footer-legal col-xs-12 text-center"> <div class="footer-legal col-xs-12 text-center"> <p class="copyright footer-rei-story-text"> © 2017 Xtreme Sporting Goods, Inc. All rights reserved. Xtreme Sporting and the co-op logo are trademarks of Sporting Goods Inc, Inc.</p> <div class="legal-links"> <ul class="list-inline"> <li> <a class="link-legal" href="/help/terms-of-use.html" data-ui="footer-terms-of-use-link" data-analytics-id="footer_legal_terms of use"> Terms of Use</a> </li> <li> <a class="link-legal" href="/help/privacy-policy.html" data-ui="footer-privacy-policy-link" data-analytics-id="footer_legal_privacy policy"> Privacy Policy</a> </li> <li> <a class="link-legal" href="/help/privacy-policy.html#toc10" data-ui="footer-interest-based-ads-link" data-analytics-id="footer_legal_interest based ads"> Interest Based Ads</a> </li> <li> <a class="link-legal" href="/help/product-safety-and-recalls.html" data-ui="footer-product-recalls-link" data-analytics-id="footer_legal_product recalls"> Product Recalls</a> </li> <li> <a class="link-legal" href="/assets/pdf/ctsca-2010/live.pdf" data-ui="footer-ca-transparency-act-link" data-analytics-id="footer_legal_ca transparency act"> CA Transparency Act</a> </li> </ul> </div> </div> </div> </div> </div>



</body>
</html>
